{:deps {:aliases [:cljs]}
 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:entries [app.core] :init-fn app.core/init}}}
  :test {:target :browser-test
         :test-dir "out/test"
         :ns-regexp "-test$"}}}
